<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.innovate.menu-cafeteria"
        versionCode="10" 
        version   = "1.0.0">

    <!-- versionCode is optional and Android only -->

    <name>Menu Cafeteria</name>

    <description>
        Consulta de menú del día del Comedor de Estudiantes
    </description>

    <author email="leticia.palos@tecvirtual.mx">
        Development Team Innov@TE 
    </author>
    
    <!--
        If you do not want any permissions to be added to your app, add the
        following tag to your config.xml; you will still have the INTERNET
        permission on your app, which PhoneGap requires.
    -->
    <preference name="permissions"                value="none"/>

    <!-- Customize your app and platform with the preference element. -->
    <preference name="phonegap-version"           value="2.7.0" />  
    
    <!-- Define access to external domains. -->
    <access origin="*" />
    
     <!-- Define app icon for each platform. -->
    <!-- icon src="icon.png" -->
    <icon src="icon.png" />

</widget>
